<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"
        integrity="sha256-chlNFSVx3TdcQ2Xlw7SvnbLAavAQLO0Y/LBiWX04viY=" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <!-- <input type="text" v-model="input" @keydown="keydown"> -->
        <input type="text" v-model="input" @keydown.enter="enter">
        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                input: '',
                list: [],
            },
            methods: {
                // keydown(evt){
                //     if(evt.keyCode === 13){
                //         this.list.push(this.input);
                //         this.input = '';
                //     }
                // },
                enter(){
                    this.list.push(this.input);
                        this.input = '';
                }
            },
        });
    </script>
</body>

</html>