<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
</head>

<body>
  <div id="counter">
    <h1>{{counter}}</h1>
    <button v-on:click="add">+1</button>
    <br>
    <ul>
      <li v-for="item in items">{{item}}</li>
    </ul>
    <button v-on:click="remove">-1</button>
    <br>
    <input type="text" v-model="text">
    <span>{{text}}</span>
  </div>

  <script>
    new Vue({
      el: '#counter',
      data: {
        counter: 0,
        items: [1, 2, 3, 4, 5],
        text: "",
      },
      methods: {
        add() {
          this.counter += 1;
        },
        remove() {
          this.items.pop();
        },
      },
    });
  </script>
</body>

</html>
